body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d7e9f8;
}


/* dropdown menus */
select {
    border: 2px solid rgb(210, 209, 209);
    font-size: 16px;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
}

select:focus {
    border-color: #b2b2b2;
    outline: none;
}

/* Background color for the entire page */
header {
    background-color: #372a48;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.filters {
    flex: 1;
    margin-right: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling for filter group sections */
.filter-group {
    margin-bottom: 20px;
}

.genre-buttons {
    display: flex;
    flex-wrap: wrap;
}

.genre-btn {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background: #dedede;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}

.genre-btn.selected {
    background: #b2b2b2;
}

#movieContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    flex: 3;
}

.movie-card {
    background: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.movie-card img {
    max-width: 100%;
    border-radius: 5px;
}

.movie-title {
    font-weight: bold;
    margin-top: 10px;
}

.movie-year {
    color: #666;
}

.error {
    color: red;
    text-align: center;
    padding: 20px;
}

input {
    border: 2px solid rgb(210, 209, 209);
    padding: 8px 10px; 
    font-size: 14px;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #333;
}

input:focus {
    border-color: #b2b2b2;
    outline: none;
}


.chart-section {
    margin-top: 20px;
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    max-width: 1100px;
    margin: auto;
}

.chart-genre-buttons {
    margin-bottom: 20px;
}

.chart-genre-btn {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background: #dedede;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}

.movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

button {
    border-radius: 5px;
    padding: 8px 10px; 
}